<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
<meta charset="utf-8">

<title>Recent News</title>

<base target="_parent">

<link rel="stylesheet" href="{% static 'css/news_scroll.css' %}" type="text/css">

</head>

<span class="name">Recent Articles</span>


<body class="news-scroll" onMouseover="scrollspeed=0" onMouseout="scrollspeed=current" OnLoad="NewsScrollStart();">


<!-- Start News Feed -->
<div id="NewsDiv">
<div class="scroll-text-if">
<br>

<!-- This is where content starts -->

{% for article in scrolls %}
<span class="scroll-title-if">
<img src='{{article.top_image}}' style='max-height:60px; float: left; padding: 2px;'>
<a onclick="article('{{article.id}}')" href="javascript:void(0);">{{article.title}}</a><br>
</span>

{{article.source}}
<br>
{{article.post_date}}

<br><br><br>
{% endfor %}


<!-- END SCROLLER CONTENT -->

</div>
</div>
<!-- END NEWS FEED -->



<!-- YOU DO NOT NEED TO EDIT BELOW THIS LINE -->
<script type="text/javascript">
function article(url){
  window.top.location.assign(url);
}
</script>


</body>
</html>
