{% extends "CYP/header.html" %}
{% load staticfiles %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/senate.css' %}" type="text/css">

<head>

<!-- <center><h1 style="color:black;">Let your news come to you.</h1><center> -->


  <!-- Load scrolling news window -->

</head>

  <body>
      <div class="col-xs-9">
        <div class="container" role="main">
          <div id="senate_diagram" class="row" height:"10%">
            <div class="col-xs-6">
              <div class="col-xs-8"></div>
              <div class="col-xs-1"><img class="circle" src="http://le.utah.gov/images/legislator/WEILET.jpg" height="72" width="53"> <p class="picture_name">Person Name</p></div>
              <div class="col-xs-1"></div>
              <div class="col-xs-1"><img class="circle" src="http://le.utah.gov/images/legislator/OKERLR.jpg" height="72" width="53"> <p class="picture_name">Person Name</p></div>
              <div class="col-xs-1"></div>
            </div>
            <div class="col-xs-6">
              <div class="col-xs-1"><img class="circle" src="http://le.utah.gov/images/legislator/HILLYLW.jpg" height="72" width="53"> <p class="picture_name">Person Name</p></div>
              <div class="col-xs-1"></div>
              <div class="col-xs-1"><img class="circle" src="http://le.utah.gov/images/legislator/IPSONDL.jpg" height="72" width="53"> <p class="picture_name">Person Name</p></div>
              <div class="col-xs-9"></div>
            </div>
          </div>
          <div id="senate_diagram" class="row" height:"10%">
            <div class="col-xs-6">
              <div class="col-xs-6"></div>
              <div class="col-xs-1"><img class="circle" src="http://le.utah.gov/images/legislator/KNUDSPC.jpg" height="72" width="53"> <p class="picture_name">Person Name</p></div>
              <div class="col-xs-1"></div>
              <div class="col-xs-1"><img class="circle" src="http://le.utah.gov/images/legislator/MILLNA.jpg" height="72" width="53"> <p class="picture_name">Person Name</p></div>
              <div class="col-xs-1"></div>
              <div class="col-xs-1"><img class="circle" src="http://le.utah.gov/images/legislator/CHRISAM.jpg" height="72" width="53"> <p class="picture_name">Person Name</p></div>
              <div class="col-xs-1"></div>
            </div>
            <div class="col-xs-6">
              <div class="col-xs-1"><img class="circle" src="http://le.utah.gov/images/legislator/BUXTODG.jpg" height="72" width="53"> <p class="picture_name">Person Name</p></div>
              <div class="col-xs-1"></div>
              <div class="col-xs-1"><img class="circle" src="http://le.utah.gov/images/legislator/STEVEJW.jpg" height="72" width="53"> <p class="picture_name">Person Name</p></div>
              <div class="col-xs-1"></div>
              <div class="col-xs-1"><img class="circle" src="http://le.utah.gov/images/legislator/ADAMSJS.jpg" height="72" width="53"> <p class="picture_name">Person Name</p></div>
              <div class="col-xs-7"></div>
            </div>
          </div>
          <div id="senate_diagram" class="row" height:"10%">
            <div class="col-xs-6">
              <div class="col-xs-5"></div>
              <div class="col-xs-1"><img class="circle" src="http://le.utah.gov/images/legislator/ANDERJL.jpg" height="72" width="53"> <p class="picture_name">Person Name</p></div>
              <div class="col-xs-1"></div>
              <div class="col-xs-1"><img class="circle" src="http://le.utah.gov/images/legislator/VANTAKT.jpg" height="72" width="53"> <p class="picture_name">Person Name</p></div>
              <div class="col-xs-1"></div>
              <div class="col-xs-1"><img class="circle" src="http://le.utah.gov/images/legislator/HINKIDP.jpg" height="72" width="53"> <p class="picture_name">Person Name</p></div>
              <div class="col-xs-1"></div>
              <div class="col-xs-1"><img class="circle" src="http://le.utah.gov/images/legislator/BRAMBCS.jpg" height="72" width="53"> <p class="picture_name">Person Name</p></div>
            </div>
            <div class="col-xs-6">
              <div class="col-xs-1"></div>
              <div class="col-xs-1"><img class="circle" src="http://le.utah.gov/images/legislator/HEMMED.jpg" height="72" width="53"> <p class="picture_name">Person Name</p></div>
              <div class="col-xs-1"></div>
              <div class="col-xs-1"><img class="circle" src="http://le.utah.gov/images/legislator/DAYTOM.jpg" height="72" width="53"> <p class="picture_name">Person Name</p></div>
              <div class="col-xs-1"></div>
              <div class="col-xs-1"><img class="circle" src="http://le.utah.gov/images/legislator/VICKEEJ.jpg" height="72" width="53"> <p class="picture_name">Person Name</p></div>
              <div class="col-xs-6"></div>
            </div>
          </div>
          <div id="senate_diagram" class="row" height:"10%">
            <div class="col-xs-6">
              <div class="col-xs-4"></div>
              <div class="col-xs-1"><img class="circle" src="http://le.utah.gov/images/legislator/HENDEDM.jpg "height="72" width="53"> <p class="picture_name">Person Name</p></div>
              <div class="col-xs-1"></div>
              <div class="col-xs-1"><img class="circle" src="http://le.utah.gov/images/legislator/SHIOZBE.jpg "height="72" width="53"> <p class="picture_name">Person Name</p></div>
              <div class="col-xs-1"></div>
              <div class="col-xs-1"><img class="circle" src="http://le.utah.gov/images/legislator/NIEDEWL.jpg "height="72" width="53"> <p class="picture_name">Person Name</p></div>
              <div class="col-xs-3"></div>
            </div>
            <div class="col-xs-6">
              <div class="col-xs-2"></div>
              <div class="col-xs-1"><img class="circle" src="http://le.utah.gov/images/legislator/FILLML.jpg "height="72" width="53"> <p class="picture_name">Person Name</p></div>
              <div class="col-xs-1"></div>
              <div class="col-xs-1"><img class="circle" src="http://le.utah.gov/images/legislator/STEPHHA.jpg "height="72" width="53"> <p class="picture_name">Person Name</p></div>
              <div class="col-xs-1"></div>
              <div class="col-xs-1"><img class="circle" src="http://le.utah.gov/images/legislator/THATCDW.jpg" height="72" width="53"> <p class="picture_name">Person Name</p></div>
              <div class="col-xs-5"></div>
            </div>
          </div>
          <div id="senate_diagram" class="row" height:"10%">
            <div class="col-xs-6">
              <div class="col-xs-3"></div>
              <div class="col-xs-1"><img class="circle" src="http://le.utah.gov/images/legislator/ESCAML.jpg" height="72" width="53"> <p class="picture_name">Person Name</p></div>
              <div class="col-xs-1"></div>
              <div class="col-xs-1"><img class="circle" src="http://le.utah.gov/images/legislator/DAVISG.jpg" height="72" width="53"> <p class="picture_name">Person Name</p></div>
              <div class="col-xs-1"></div>
              <div class="col-xs-1"><img class="circle" src="http://le.utah.gov/images/legislator/DABAKJ.jpg" height="72" width="53"> <p class="picture_name">Person Name</p></div>
              <div class="col-xs-4"></div>
            </div>
            <div class="col-xs-6">
              <div class="col-xs-3"></div>
              <div class="col-xs-1"><img class="circle" src="http://le.utah.gov/images/legislator/IWAMOJ.jpg "height="72" width="53"> <p class="picture_name">Person Name</p></div>
              <div class="col-xs-1"></div>
              <div class="col-xs-1"><img class="circle" src="http://le.utah.gov/images/legislator/MAYNEK.jpg "height="72" width="53"> <p class="picture_name">Person Name</p></div>
              <div class="col-xs-1"></div>
              <div class="col-xs-1"><img class="circle" src="http://le.utah.gov/images/legislator/HARPEWA.jpg "height="72" width="53"> <p class="picture_name">Person Name</p></div>
              <div class="col-xs-4"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-3">
        <div class="col-xs-2"></div>
        <div id="article_column" class="col-xs-10">
          <div class="article-container" role="main">

            <!-- This is where content starts -->

            {% for article in scrolls %}
            <a class="article_link" href="{{article.id}}">
              <span class="article">
              <!-- <div id="article-picture" class="col-xs-3">
                <img src='{{article.top_image}}' style='max-height:60px; float: left; padding: 2px;' height="56px" width="93px">
              </div> -->
                <div id="article-info" class="col-xs-9">
                  <div class="source">{{article.source}}</div>
                  <div class="title">{{article.title}}</div>
                  <div class="date">{{article.post_date}}</div>
                </div>
              </span>
            </a>
            {% endfor %}



            <!-- END SCROLLER CONTENT -->

            </div>
          </div>

        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- <script src="{% static 'js/senate.js' %}"></script> -->
  </body>
</head>

{% include "CYP/includes/htmlsnippet.html" %}
{% endblock %}
