.article_container {
  padding-left: 10%;
  padding-right: 10%;
  /*display: block;*/
}

.text_container {
  width: 80%;

}

.article_image {
  width: -webkit-fill-available;
}

.col-xs-12 {
  overflow: hidden;
  position:relative;
}

.text {
  display: inline-block;
  font: normal 18px "Droid Sans", arial, sans-serif;
}
